
.test {
    display: flex;
    flex-direction: row;
    
}

@keyframes slideUpFadeIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.background{
    width: 300px;
    height: 300px;
    margin-right: 100px;
  }
  
@keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

#root {
    /* animated cart */
    background-image: linear-gradient(70deg, rgb(73, 32, 237) 0%, rgb(217, 208, 240) 80%);
    max-width: 1280px;
    background-size: 200% 200%;
    animation: gradientBG 10s infinite;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
}

.card{
    animation: slideUpFadeIn 2s ease-out;
    background-color: #fff;
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 2rem auto;
}

.card:hover {
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
}
